<h1>Edit your personal details</h1>

<%= render :partial => 'form' %>

<div>
    <%= button_to("Delete account", @current_listener, :method => "delete", :data => {:confirm => "Are you sure?"}, class: "btn btn-danger")%>
</div>
<br>


