<h2><%= @listener.username %></h2>
<div>
    <% @listener.podcasts.each do |podcast| %>
        <em><%= podcast.title %></em>
        <br>
        <%= podcast.description %>
        <br>
        <br>
    <% end %>
</div>