<h1> <%= @podcast.title %> </h1>

<div class="display-podcast">
<p><em>Author: </em><%= @podcast.author %></p>
<p><em>Description: </em><%= @podcast.description %></p>
<% if @podcast.try(:categories) %>
    <p><em>Categories: </em><%= @podcast.categories %></p>
    <% end %>
    </div>
